body {
    font-family: 'Montserrat', sans-serif;
}


.topnav {
    position: relative;
    z-index: 1;
    font-size: 13px;
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .topnav_logo {
        width: 212px;
        height: 30px;

        img {
            max-width: 100%;
        }
    }

    &_links {
        .nav_drop {
            border: none;
            outline: none;
            background-color: #fff;
            font-size: 20px;
            color: rgb(107, 107, 107);
            display: none;
        }

        .dropdown,
        .search_icon,
        .basket {
            padding: 50px 25px;
            display: inline-block;

            a {
                text-decoration: none;
                color: rgb(107, 107, 107);
            }
        }

        .search_icon,
        .basket {
            font-size: 16px;

            span {
                margin-left: 10px;
                font-size: 13px;
            }
        }

        .dropdown,
        .search_icon {
            display: inline-block;
        }

        .dropdown-content {
            position: absolute;
            background-color: #fff;
            max-width: 100%;
            top: 70px;
            margin-left: -25px;
            display: none;
            padding-right: 50px;

            a {
                display: block;
                margin: 16px 25px;
                color: #000;
                text-decoration: none;
            }

            .dropdown-content_list {
                display: inline-block;
                padding: 35px 20px;
            }
        }

        .dropdown {
            &:hover {
                .dropdown-content {
                    display: block;
                }

                .dropdown-content.shop_content {
                    display: flex;
                    gap: 50px;
                    right: 250px;

                    a {
                        margin: 16px 0;
                    }

                    h2 {
                        margin-top: 25px;
                        font-family: 'Lora', serif;
                        font-weight: 600;
                    }
                }
            }
        }

        .droprigth {
            &-content {
                background-color: #fff;
                display: none;
                position: absolute;
                left: 222px;
                width: 200px;
                margin-top: -50px;
            }

            .post_types {
                left: 180px;
            }

            &:hover {
                .droprigth-content {
                    display: block;
                    animation: drop_rigth 1s forwards;
                }
            }
        }
    }

    .underline_on_hover {
        position: relative;
    }

    .underline_on_hover:before {
        content: "";
        position: absolute;
        width: 0;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: rgb(75, 75, 75);
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }

    .underline_on_hover:hover:before {
        visibility: visible;
        width: 100%;
    }

}

@media screen and (max-width:1600px) {
    .topnav {
        justify-content: space-between;
        padding: 0 70px;
    }
}


.dropdown-content {
    max-height: 0;
}

.dropdown:hover .dropdown-content {
    animation: drop 1s forwards;

    a,
    h2 {
        animation: drop_text 2s forwards;
    }
}

@keyframes drop {
    from {
        max-height: 0;
    }

    to {
        max-height: 700px;
    }
}

@keyframes dropdown {
    from {
        max-height: 0;
        opacity: 0;
    }

    to {
        max-height: 700px;
        opacity: 1;
    }
}

@keyframes drop_text {
    from {
        color: #0000;
    }

    to {
        color: #000;
    }
}

@keyframes drop_rigth {
    from {
        background-color: #0000;
    }

    to {
        background-color: #fff;
    }
}


@media screen and (max-width:1220px) {
    .topnav {
        padding: 20px;

        .nav_drop {
            display: block;
            margin-right: 40px;
        }

        .topnav_logo {
            margin-left: 40px;
        }

        .dropdown,
        .basket,
        .search_icon {
            display: none;
        }
    }
}

.sidebar {
    position: fixed;
    background-color: #fff;
    z-index: 1;
    max-width: 420px;
    width: 100%;
    height: 1400px;
    top: 0;
    right: 0px;
    padding-top: 80px;
    display: none;

    .side-dropdown {
        margin-bottom: 20px;

        .side-dropdown_button {
            margin: 16px 25px;
            text-decoration: none;
            font-size: 13px;
            color: #000;
        }

        .side-dropdown-content {
            margin-top: 16px;
            display: none;

            a {
                display: block;
                padding: 7px 25px;
                text-decoration: none;
                font-size: 13px;
                color: #707070;
            }
        }

        .sub_side-dropdown-content {
            display: none;

            a {
                color: #707070;
            }
        }

        .side-dropdown-content.opened {
            animation: dropdown 1s forwards;
            display: block;
        }

        .sub_side-dropdown-content.opened {
            display: block;
            animation: dropdown 1s forwards;
        }

    }

}

@keyframes side {
    from {
        right: -400px;
    }

    to {
        right: 0;
    }
}

@keyframes sideback {
    from {
        right: 0px;
    }

    to {
        right: -500px;
    }
}

.sidebar.opened {
    animation: side 0.5s ease-out;
    display: block;
}

.sidebar.close {
    animation: sideback 0.5s ease-out forwards;
    display: block;
}

.close_button {
    position: absolute;
    top: 20px;
    right: 40px;
    color: red;
    font-size: 20px;
}

.close_linker {
    color: red;
}


.underline_on_hover.active,
.side-dropdown_button.active {
    position: relative;
}

.underline_on_hover.active:before,
.side-dropdown_button.active:before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: rgb(75, 75, 75);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.underline_on_hover.active:before,
.side-dropdown_button.active:before {
    visibility: visible;
    width: 100%;
}

@media screen and (min-width:1220px) {
    #sidebar {
        display: none;
    }
}



.slide {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
    background-color: #F3F3F3;
    z-index: 0;
}

@media screen and (max-width:1600px) {
    .slide {
        height: 500px;
    }
}

.slide>div {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    animation: slide 25s infinite;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0;
}

.slide>div:nth-child(2) {
    animation-delay: 5s;
}

.slide>div:nth-child(3) {
    animation-delay: 10s;
}

.slide>div:nth-child(4) {
    animation-delay: 15s;
}

.slide>div:nth-child(5) {
    animation-delay: 20s;
}

@keyframes slide {
    10% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    40% {
        transform: scale(1.1);
    }
}

.slider {
    position: relative;

    &_sara_text {
        margin-top: 20px;
    }

    .left-arrow {
        position: absolute;
        top: 220px;
        left: 30px;
        color: #ccc;
        font-size: 30px;
    }

    .right-arrow {
        top: 220px;
        position: absolute;
        right: 30px;
        font-size: 30px;
        color: #ccc;
    }

    .left-arrow span {
        transition: color 0.5s;
    }

    .right-arrow span {
        transition: color 0.5s;
    }

    .left-arrow:hover span {
        cursor: pointer;
        color: #000;
    }

    .right-arrow:hover span {
        cursor: pointer;
        color: #000;
    }

    .dots {
        position: absolute;
        font-size: 10px;
        bottom: 20px;
        left: 45%;
        max-width: 200px;
        transform: scale(1);
        transition: transform 0.5s;
        display: none;
    }

    .working {
        transition: transform 0.5s;
        transform: scale(1.2);
        margin-top: 10px;
    }

    .fa-circle {
        margin-left: 10px;
        transition: transform 0.5s;
        cursor: pointer;
    }

    .fa-circle:hover {
        transform: scale(1.2);
        margin-top: 10px;
    }
}

.slider_text {
    position: absolute;
    top: 90px;
    margin-left: 160px;
    font-size: 28px;
    max-width: 400px;
    min-width: 200px;

    h2 {
        font-family: 'Lora', serif;
        font-weight: 400;

        span {
            color: red;
        }
    }

    p {
        margin-top: 20px;
        font-family: 'Lora', serif;
        font-weight: 400;
        font-size: 17px;
        line-height: 1.7;
        color: #707070;
    }
}

@media screen and(max-width:1120px) {
    .slider_text {
        margin-left: 50px;
    }

    .left-arrow {
        display: none;
    }

    .right-arrow {
        display: none;
    }

    #dots {
        display: block;
    }
}

@media screen and (max-width:500px) {
    .slider_text {
        margin-left: 50px;

        p {
            display: none;
        }
    }
}

#elements_content {
    padding-right: 0;
    padding-left: 50px;

    .droprigth-content {
        left: -200px;
    }
}

.fa-chevron-right {
    margin-left: 50px;
    font-size: 7px;
}

.fa-chevron-left {
    font-size: 7px;
    margin-right: 50px;
}

.filter_btns {
    margin-top: 50px;
    margin-left: -30px;

    button {
        font-size: 12px;
        margin-left: 30px;
        text-decoration: none;
        color: #000;
        font-weight: 500;
        transition: color 0.5s;
        border: none;
        outline: none;
        background-color: #fff;
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;
    }

    button:hover {
        color: red;
    }

    .active_filter {
        color: red;
    }
    .active_filters{
        color: red;
    }
}

.filter_container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 50px;
    position: relative;
}

.all_filter-items {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    justify-content: space-around;
    gap: 40px;

    .filter-item {
        overflow: hidden;

        h5 {
            text-align: center;
            letter-spacing: 1.8px;
            font-weight: 500;
            font-size: 12px;
            margin-top: 10px;
            cursor: pointer;
        }

        .fltr_btn{
            width: 100px;
            margin: 0 auto;
        }
        
        button {
            font-size: 12px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            width: 100px;
            border: none;
            background-color: transparent;
            color: rgb(179, 179, 179);
            margin: 10px auto;
            transition: color .5s;

            &:hover {
                color: red;
                cursor: pointer;
            }
        }

        &_image {
            width: 100%;
            overflow: hidden;
        }

        img {
            width: 100%;
            transition: transform 0.5s;

            &:hover {
                transform: scale(1.05);
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width:1025px) {
    .all_filter-items {
        grid-template-columns: 32% 32% 32%;
    }
}

@media screen and (max-width:768px) {
    .all_filter-items {
        grid-template-columns: 48% 48%;
    }
}

@media screen and (max-width:680px) {
    .all_filter-items {
        grid-template-columns: 90%;
    }
}

.filter-item {
    display: none;
    position: relative;
}

.filter-item.show {
    display: block;
}

#filterer_button:hover {
    color: #000;
}

.filter-content {
    position: absolute;
    z-index: 1;
    display: flex;
    gap: 50px;
    display: none;
    background-color: #fff;
    width: 400px;
    padding: 30px;
    padding-bottom: 50px;
    margin-left: -300px;
}

.filter-content_list {
    .filter-btns {
        h3 {
            font-family: 'Lora', serif;
            font-weight: 100;
            font-size: 20px;
        }

        display: block;

        button {
            margin: 10px 0;
            display: block;
            color: #707070;
            transition: color 0.5s;

            &:hover {
                color: #000;
            }
        }
    }
}

.filterer:hover .filter-content {
    display: flex;
}

.filterer {
    position: absolute;
    right: 50px;
    top: 0;
}

#filter {
    position: relative;
    padding-bottom: 100px;
}

#all_filters:hover {
    color: #000;
}

.categories_content {
    display: none;
    max-height: 0;

    button {
        display: block;
        margin-top: 10px;
    }
}

.categories_btn {
    display: none;
    position: relative;
}

@media screen and (max-width:1300px) {
    .filter-btn {
        display: none;
    }

    .categories_btn {
        display: block;
    }

    .filter-content {
        flex-direction: column;
    }
}

.categories_content.opened {
    animation: drop 0.5s ease-out forwards;
    display: block;
}

.sold {
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 10px;
    padding: 7px 14px;
    text-align: center;
    background-color: #000;
    font-family: 'Lora', serif;
    font-weight: 100;
    color: #fff;
}

.sale {
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 10px;
    padding: 7px 14px;
    text-align: center;
    background-color: #fff;
    font-family: 'Lora', serif;
    font-weight: 100;
    color: #000;
}

.new {
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 10px;
    padding: 7px 14px;
    text-align: center;
    background-color: #F34F3F;
    font-family: 'Lora', serif;
    font-weight: 100;
    color: #fff;
}

#valentine {
    background-color: #F7F7F7;
    padding: 100px 50px;
}

.valentine_video {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    max-width: 700px;
    overflow: hidden;

    img {
        width: 100%;
        transition: transform 0.5s;

        &:hover {
            transform: scale(1.05);
            cursor: pointer;
        }
    }

    .play {
        position: absolute;
        color: #F34F3F;
        background-color: #fff;
        font-size: 25px;
        padding: 5% 6%;
        border-radius: 50%;
        cursor: pointer;
    }
}

.valentine_text {
    margin-top: 50px;
    max-width: 500px;
    margin-left: 20px;
    font-family: 'Lora', serif;

    h3 {
        font-weight: 100;
        font-size: 40px;

        span {
            color: #F34F3F;
        }
    }

    p {
        margin-top: 30px;
        color: #707070;
        margin-bottom: 30px;
    }

    ul {
        list-style: url(https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h1-custom-icon.png);

        li {
            color: #707070;
            margin-top: 30px;
            margin-left: 30px;
        }
    }
}

.valentine_container {
    max-width: 1400px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    margin: 0 auto;
}

@media screen and (max-width:1030px) {
    #valentine {
        padding: 100px 20px;
    }

    .valentine_video {
        margin: 0 auto;
    }
}

#experts {
    padding-bottom: 100px;
}

.experts_text {
    font-family: 'Lora', serif;
    max-width: 650px;
    text-align: center;
    margin: 100px auto 0 auto;

    h3 {
        font-size: 35px;
        font-weight: 100;
    }

    p {
        font-size: 17px;
        color: #707070;
        margin-top: 20px;
    }
}

.experts_cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    padding: 0 35px;
    margin-top: 70px;

    &-item {
        text-align: center;
        margin-bottom: 50px;

        img {
            width: 100%;
        }

        h5 {
            margin-top: 15px;
        }

        p {
            margin-top: 15px;
            font-size: 12px;
            color: rgb(172, 172, 172);
        }
    }
}

@media screen and (max-width:1200px) {
    .experts_cards {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width:768px) {
    .experts_cards {
        grid-template-columns: auto;
    }
}

#join {
    background-image: url(https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/h3-background-img.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover 130%;
    background-position-x: center;
    background-position-y: 100px;
    padding: 200px 0;

    .join_summary {
        h3 {
            text-align: center;
            font-family: 'Lora', serif;
            color: #fff;
            font-weight: 100;
            font-size: 30px;
        }

        .join_input {
            margin: 30px auto 0 auto;
            max-width: 627px;

            input {
                width: 454px;
                height: 60px;
                border: none;
                outline: none;
                font-family: 'Montserrat', sans-serif;
                color: #929292;
                font-size: 12px;
                padding: 0 16px;
            }

            button {
                width: 168.5px;
                height: 60px;
                margin-left: -5px;
                outline: none;
                border: none;
                background-color: #F34F3F;
                color: #fff;
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                font-size: 13px;
                transition: background-color 0.5s;

                &:hover {
                    background-color: #f53e2e;
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width:668px) {
    #join {
        .join_summary {
            .join_input {
                max-width: 420px;

                input {
                    width: 251px;
                }
            }
        }
    }
}

@media screen and (max-width:420px) {
    #join {
        .join_summary {
            .join_input {
                max-width: 251px;

                input {
                    width: 251px;
                }

                button {
                    margin-left: 40px;
                    margin-top: 10px;
                }
            }
        }
    }
}

@media screen and (max-width:1000px) {
    #join {
        background-size: cover;
    }
}

#blog {
    padding: 100px 20px 100px 20px;
    background-color: #F8F8F8;
}

.blog_summary {
    font-family: 'Lora', serif;
    max-width: 680px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 70px;

    h3 {
        font-weight: 100;
        font-size: 40px;
    }

    p {
        color: #707070;
        margin-top: 20px;
        font-size: 17px;
    }
}

.blog_cards {
    font-family: 'Lora', serif;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
    max-width: 1400px;
    gap: 20px;
    padding: 0 30px;

    .blog_card {
        position: relative;
        text-align: center;

        .blog_image {
            overflow: hidden;
            margin-bottom: 20px;

            img {
                width: 100%;
                transition: transform 0.3s;

                &:hover {
                    transform: scale(1.05);
                    cursor: pointer;
                }
            }
        }

        .blog_link {
            color: #000;
            text-decoration: none;
            font-size: 22px;
        }

        p {
            margin-top: 15px;
            color: #707070;
            font-size: 14px;
        }

        .blog_text {
            padding: 0 50px;
        }
    }
}

@media screen and (max-width:767px) {
    .blog_cards {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width:680px) {
    .blog_cards {
        grid-template-columns: auto;

        .blog_card {
            .blog_link {
                font-size: 18px;
            }
        }
    }
}

.date_link {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #fff;
    text-decoration: none;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 500;
    padding: 9px 16px;
    transition: color 0.5s;

    &:hover {
        color: #F34F3F;
    }
}

.slick-carousel-items {
    margin: 0 auto;
    max-width: 723px;

    .slick_carousel-item {
        text-align: center;
        margin: 0 auto;

        .slick_image {
            margin: 0 auto;
            display: inline-block;
            margin-bottom: 25px;
        }

        h2 {
            font-size: 25px;
            font-family: 'Lora', serif;
            color: #707070;
            font-weight: 400;
            font-style: italic;
        }
        h6{
            letter-spacing: 2px;
            margin-top: 40px;
            color: rgb(92, 92, 92)
        }
        p{
            color: #929292;
            font-size: 12px;
            margin-top: 20px;
        }
    }
}

#slick-carousel{
    padding: 100px 0;
}

.fa-magnifying-glass{
    font-size: 20px;
    transform: rotate(90deg);
}

.fa-bag-shopping{
    font-size: 20px;
}

.basket{
    position: relative;
}

.basket_dropdown_content{
    border: 1px solid rgb(231, 231, 231);
    width: 250px;
    background-color: #fff;
    display: none;
    position: absolute;
    font-size: 13px;
    font-weight: 500;
    color: #707070;
    left: -100px;
    max-height: 0;
    top: 120px;
    p{
        padding: 25px;
    }
}

@keyframes basket {
    from{
        max-height: 0;
    }
    to{
        max-height: 700px;
    }
}

@keyframes basket_text {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.basket:hover{
    cursor: pointer;
    .basket_dropdown_content{
        animation: basket 1s forwards;
        display: block;
        p,h5,h6,.button{
            animation: basket_text 2s forwards;
        }
    }
}


.cart-item{
    position: relative;
    h5{
        font-size: 12px;
        padding: 10px 20px;
    }
    .cart-item_price{
        padding: 10px 20px 10px 20px;
        font-size: 12px;
        font-weight: 400;
    }

    .button{
        color: red;
        border: none;
        background-color: transparent;
        position: absolute;
        top: 30px;
        right: 20px;
        cursor: pointer;
    }
}